network.ryamer.com {
   handle_path /ipv6* {
      reverse_proxy localhost:5002
   }
   handle {
      root * /usr/share/caddy/networkui
      encode gzip
      try_files {path} /{path}/index.html
      file_server
   }
}
